<header id="about-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 my-5 py-5">
                <h1 class="text-center text-danger">
                    <strong class="text-uppercase">Contact Leather India</strong><br>
                    <span class="h3">Developed by Anupam</span>
                </h1>
                <p class="text-center text-warning">Leather India Multipage responsive website template front end design <br>
                    developed by <a class="card-link" href="http://anupammondal.in" target="_blank">Anupam Mondal</a> with AngularJS Bootstrap for multipurpose use.</p>
            </div>
        </div>
    </div>
</header>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <!-- <div class="col-12">
                <h3 class="h2 text-center mb-5">Contact Malcom</h3>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="card my-2">
                    <div class="card-body my-4">
                        <address class="text-center">
                            <strong class="h3">Leather India Ltd</strong>
                            <hr class="my-4">
                            1355 Market St, Suite 900<br>
                            San Francisco, CA 94103<br>
                            <hr class="my-4">
                            <abbr title="Phone">P:</abbr> (91) 233-444-7890
                            <br>
                            <a class="card-link" href="mailto:help@leatherindia.com">help@leatherindia.com</a>
                        </address>
                    </div>
                </div>

            </div>
            <div class="col-md-8 col-12">
                <div class="card my-2">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="fname" class="text-dark"><i class="fas fa-id-card"></i> Full
                                            name</label>
                                        <input type="text" class="form-control rounded-0 border-dark bg-white border-left-0 border-bottom-0 border-right-0 shadow-none" id="fname">
                                    </div>
                                    <div class="form-group">
                                        <label for="mailid" class="text-dark"><i class="fas fa-envelope"></i> Email
                                            address</label>
                                        <input type="email" class="form-control rounded-0 border-dark bg-white border-left-0 border-bottom-0 border-right-0 shadow-none" id="mailid">
                                    </div>
                                    <div class="form-group">
                                        <label for="telno" class="text-dark"><i class="fas fa-phone-square-alt"></i>
                                            Mobile
                                            number</label>
                                        <input type="tel" class="form-control rounded-0 border-dark bg-white border-left-0 border-bottom-0 border-right-0 shadow-none" id="telno">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="urmsg" class="text-dark"><i class="fas fa-comment-alt"></i> Your
                                            message</label>
                                        <textarea rows="8" class="form-control rounded-0 border-dark bg-white border-left-0 border-bottom-0 border-right-0 shadow-none" id="urmsg"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-outline-dark btn-block rounded-0 shadow-none">
                                <i class="far fa-paper-plane"></i> SEND
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>