<header id="about-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 py-5">
                <h1 class="text-center">
                    <strong class="text-uppercase">Leather India Products</strong><br>
                    <span class="h3">Developed by Anupam</span>
                </h1>
                <p class="text-center">Leather India Multipage responsive website template front end design <br>
                    developed by <a class="card-link" href="http://anupammondal.in" target="_blank">Anupam Mondal</a> with AngularJS Bootstrap for multipurpose use.</p>
            </div>
        </div>
    </div>
</header>
<section class="my-5">
    <div class="container">
        <div class="row">
            <!-- <div class="col-12">
                <h3 class="h2 text-center mb-5">Products of Malcom</h3>
            </div> -->
            <div class="col-12 col-md-4">
                <div class="card my-2">
                    <img src="https://images.pexels.com/photos/1598505/pexels-photo-1598505.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Saftey Shoes</h5>
                        <p class="card-text text-justify">Some quick example text to build on the card title and
                            make up the bulk
                            of the card's content.</p>
                        <a href="#" class="card-link text-center d-block">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card my-2">
                    <img src="https://images.pexels.com/photos/3902881/pexels-photo-3902881.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Face Mask</h5>
                        <p class="card-text text-justify">Some quick example text to build on the card title and
                            make up the bulk
                            of the card's content.</p>
                        <a href="#" class="card-link text-center d-block">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card my-2">
                    <img src="https://images.pexels.com/photos/45057/pexels-photo-45057.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">Industrial Gloves</h5>
                        <p class="card-text text-justify">Some quick example text to build on the card title and
                            make up the bulk
                            of the card's content.</p>
                        <a href="#" class="card-link text-center d-block">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>